.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  
  #map-grid {
    display: grid;
    position: absolute;
    grid-column: 1 / -1;
    /* grid-row: 2 / 10; */
    height: 70%;
    width: 100%;
  }
  
  #chart-button-grid {
    display: grid;
    position: absolute;
    top: 75%;
    left: 5%;
    bottom: 5%;
    height: 20%;
    grid-column: 1 / -1;
    /* height: 30%; */
    min-width: 20%;
    max-width: 20%;
    /* grid-row: 10 / 15; */    
  }

  #chart-grid {
    display: grid;
    position: absolute;
    top: 70%;
    left: 30%;
    height:25%;
    grid-column: 1 / -1;
    /* height: 30%; */
    min-width: 60%;
    max-width: 60%;
    /* grid-row: 10 / 15; */
  }